<!doctype html>
<div id="container"></div>

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="/static/force-graph.js"></script>
<script type="module">
  var svg = ForceGraph(
    {
      nodes: [
        { id: 1, title: "John" },
        { id: 2, title: "Steve" },
      ],
      links: [{ source: 1, target: 2 }],
    },
    {
      nodeId: (d) => d.id, // given d in nodes, returns a unique identifier (string)
      // nodeGroup, // given d in nodes, returns an (ordinal) value for color
      // nodeGroups, // an array of ordinal values representing the node groups
      nodeTitle: (d) => d.title, // given d in nodes, a title string
      nodeFill: "currentColor", // node stroke fill (if not using a group color encoding)
      nodeStroke: "#fff", // node stroke color
      nodeStrokeWidth: 1.5, // node stroke width, in pixels
      nodeStrokeOpacity: 1, // node stroke opacity
      nodeRadius: 5, // node radius, in pixels
      // nodeStrength,
      linkSource: ({ source }) => source, // given d in links, returns a node identifier string
      linkTarget: ({ target }) => target, // given d in links, returns a node identifier string
      linkStroke: "#999", // link stroke color
      linkStrokeOpacity: 0.6, // link stroke opacity
      linkStrokeWidth: 1.5, // given d in links, returns a stroke width in pixels
      linkStrokeLinecap: "round", // link stroke linecap
      // linkStrength,
      colors: d3.schemeTableau10, // an array of color strings, for the node groups
      width: 640, // outer width, in pixels
      height: 400, // outer height, in pixels
      // invalidation // when this promise resolves, stop the simulation
    },
  );
  // Append the SVG element.
  container.append(svg);

  const tooltip = d3
    .select("body")
    .append("div")
    .attr("class", "tooltip")
    .style("opacity", 0);

  // d3.selectAll("circle")
  //   .on("mouseover", function (event, d) {
  //     console.log("faf");
  //     tooltip.transition().duration(200).style("opacity", 0.9);
  //     tooltip
  //       .html((d) => d.title)
  //       .style("left", event.pageX + "px")
  //       .style("top", event.pageY - 28 + "px");
  //   })
  //   .on("mouseout", function (d) {
  //     tooltip.transition().duration(500).style("opacity", 0);
  //   });
</script>
