<script src="https://unpkg.com/htmx.org@2.0.4"></script>
<script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
<script src="https://unpkg.com/mustache@latest"></script>
<script src="https://unpkg.com/htmx-ext-path-params@2.0.0/path-params.js"></script>

<script>
  const id = new URLSearchParams(document.location.search).get("id");
</script>

<div hx-ext="path-params">
  <div hx-ext="client-side-templates">
    <div
      hx-get="/api/component/{id}"
      hx-trigger="load"
      hx-vals="js:{id}"
      mustache-template="component"
    ></div>

    <template id="component">
      <h3>{{name}}</h3>
      <ul>
        <li>selector: {{selector}}</li>

        {{#standalone}}
        <li>standalone: true</li>
        {{/standalone}} {{#declaredIn}}
        <li>declared in: {{declaredIn}}</li>
        {{/declaredIn}}
      </ul>
    </template>

    <div
      hx-get="/api/component/{id}/dependency"
      hx-trigger="load"
      hx-vals="js:{id}"
      mustache-template="dependencies"
    ></div>

    <template id="dependencies">
      <h4>Used directives:</h4>

      {{#directives}}
      <li>
        {{name}} {{#standalone}} (standalone) {{/standalone}} {{#declaredIn}}
        ({{declaredIn}}) {{/declaredIn}}
      </li>
      {{/directives}}

      <h4>Used pipes:</h4>

      {{#pipes}}
      <li>{{.}}</li>
      {{/pipes}}
    </template>
  </div>
</div>
